.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}
.MuiAppBar-colorPrimary {
    background-color: #6b96be !important;
    box-shadow: none!important;
}