.imagem2{
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.textos2{
    font-weight: bold !important;
    font-family: 'Cairo Play', cursive!important;
    font-weight: bolder!important;
    color: rgb(221, 221, 221) !important;
 }
 .btnCancelar{
    margin-right: 20px !important;
 }
 .cadUsuario{
    background: rgba(137,40,255,1);
    background: linear-gradient(79deg, rgba(24,27,38,1) 58%, rgba(25,36,97,1) 75%, rgba(29,36,102,1) 77%, rgba(137,40,255,1) 100%);
    height: 100vh;
}
 